body {
  background-color: rgb(227, 217, 252);
  font-family: 'Calibri';
}
h1 {
  text-align: center;
  font-style: italic;
}
div#display {
  margin: auto;
  background-color: white;
  width: 90%;
  border: 2px solid black;
  padding: 50px;
}
