body {
  background-color: rgb(217, 243, 252);
  font-family: ubuntu;
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
hr.short-round {
  border-top: 8px solid rgb(14, 106, 112);
  border-radius: 5px;
  width: 75%;
}
div.start {
  text-align: center;
}
div.display {
  margin: auto;
  background-color: white;
  width: 70%;
  border: 2px solid black;
  padding: 50px;
}
